/* Transparent Navigation Bar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); /* Make the navbar transparent */
    z-index: 1000; /* Ensure it stays above the wave image */
    padding: 20px;
    transition: background 0.3s ease;
    
}

.navbar-dark .navbar-nav .nav-link {
    color: white; /* Adjust based on background image */
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ccc;
}

/* When you scroll, the navbar background can change */
.navbar.scrolled {
    background: rgba(0, 0, 0, 0.7); /* Optional: Darker background on scroll */
}
