/* Wave Container Styles */
.wave-container {
    position: relative;
    width: 100vw;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
}

.wave-image {
    width: 100vw;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire page */
    position: relative; /* Smooth wave animation */
    filter: blur(1px);
}

/* Keyframes for wave motion */


/* Content over the wave */
.content {
    position: absolute;
    top: 60%;
    left: 38%;
    transform: translate(-50%, -50%);
    animation: slideIn 1.8s ease-out;
    color: white; /* Adjust text color */
}
.content1 {
    position: absolute;
    top: 20%;
    right: 8%;
  
}

@keyframes slideIn {
    from {
        transform: translate(-150%, -50%); /* Starts off-screen to the left */
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%); /* Ends centered at top: 60%; left: 35% */
        opacity: 1;
    }
}
  
.content h1 {
    font-size: 4rem;
    margin: 0;
    width: 70%;
}

.content p {
   width: 60%;
    margin-top: 40px;
}
.green{
    color: #07b96a;
}



.image img {
    width: 100%; /* Adjust for responsiveness */
    max-width: 500px; /* Set max width for larger screens */
    height: auto; /* Maintain aspect ratio */
    animation: slideInimage 1.8s ease-out;
}

.videocss video {
    width: 100%; /* Adjust for responsiveness */
    max-width: 500px;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
}

@keyframes slideInimage {
    from {
         /* Starts off-screen to the left */
         transform: translateX(100%);
        opacity: 0;
    }
    to {
        /* Ends centered at top: 60%; left: 35% */
        transform: translateX(0%);
        opacity: 1;
    }
}
